streamlit
mysql-connector-python
requests
python-dotenv
numpy
pandas
matplotlib
seaborn
scikit-learn
plotly
google-generativeai
streamlit-autorefresh


# requests
# requests-oauthlib
# sqlalchemy
# pymysql      
# activate venv : .\venv\Scripts\Activate.ps1

